<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanma.eichong.assets.mapper.AssetsMenuMapper">
    <resultMap type="AssetsMenu" id="resultMenu">
        <result property="menuId" column="menu_id" />
        <result property="menuType" column="menu_type" />
        <result property="contents" column="contents" />
        <result property="sort" column="sort" />
        <result property="url" column="url" />
        <result property="parentMenuId" column="parent_menu_id" />
    </resultMap>

    
    <select id="selectMenuList" parameterType="AssetsMenu" resultMap="resultMenu">
        SELECT * FROM assets_menu m,assets_menu_rela r where m.menu_id = r.menu_id and r.user_id = #{userId}
        <if test="menuType !=null">
            and menu_type = #{menuType}
        </if>
        <if test="parentMenuId !=null">
            and parent_menu_id = #{parentMenuId}
        </if>
        order by sort
    </select>
</mapper>