<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanma.eichong.assets.mapper.BaseEquipmentModelMapper">
    <resultMap id="BaseResultMap" type="BaseEquipmentModel">
        <id property="equ5tModelId" column="equ5t_model_id"/>
        <result property="equ5tId" column="equ5t_id"/>
        <result property="equ5tModelName" column="equ5t_model_name"/>
        <result property="createId" column="create_id"/>
        <result property="modifyId" column="modify_id"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        equ5t_model_id,equ5t_id,equ5t_model_name,create_id,modify_id,create_time,modify_time
    </sql>
    
    <select id="selectBaseEqu5tModelByEqu5tId" parameterType="Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from base_equipment_model where equ5t_id = #{equ5tId}
    </select>

    <delete id="deleteBaseEquipmentModelByEquipId" parameterType="Long">
        delete from base_equipment_model where equ5t_id = #{equ5tId}
    </delete>
    <delete id="deleteBaseEquipmentModelByModelId" parameterType="Long">
        delete from base_equipment_model where equ5t_model_id = #{equ5tModelId}
    </delete>

    <insert id="insertBaseEquipmentModel"  parameterType="BaseEquipmentModel" useGeneratedKeys="true" keyProperty="equ5tModelId">
        insert into base_equipment_model (
        equ5t_id,
        equ5t_model_name,
        create_id,
        modify_id,
        create_time,
        modify_time
        )
        values
            (
            #{equ5tId},
            #{equ5tModelName},
            #{createId},
            #{modifyId},
            now(),
            now()
            )
    </insert>
    <update id="updateBaseEquipmentModel" parameterType="BaseEquipmentModel">
        update base_equipment_model set equ5t_id = #{equ5tId},equ5t_model_name = #{equ5tModelName},modify_id = #{modifyId},modify_time = now()
        where equ5t_model_id = #{equ5tModelId}
    </update>
    
    <select id="selectBaseEqu5tModelByModelId" parameterType="Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from base_equipment_model where equ5t_model_id = #{equ5tModelId}
    </select>
</mapper>